<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" required minlength="6">
            </div>
            <div class="btn-toolbar"><button
                    class="btn btn-primary btn-sm">{{ isLoginMode ? 'Login' : 'Sign Up'  }}</button>
                <button class="btn btn-primary btn-sm" (click)="switchMode()">Swith to
                    {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
    </div>
</div>